body {
  background-color:lavender;
  position:relative;
}
#scoreBox {
  position:absolute; 
  right:10px; 
  top: 10px; 
  border:1px solid black; 
  background:white;
  padding:10px;
}

.over {
  font-size:24pt;
  position:static!important;
  margin:auto;
  text-align:center;
  width:10em;
}
h3{
  font-size:50px;
  font-style: italic;
  
}
.rock{
  color:gray;
}
.green{
  color:#659974;
}
img{
  width:250px;
  height:220px;
  border-radius:20px;
  
}
.cut{
  color:silver;
}
img:hover{
  opacity:0.3;
  transition-duration: 0.5s;

}
#pics{
  
}
